exclude: "docs|node_modules|migrations|.git|.tox"
default_stages: [pre-commit]
fail_fast: true

# To update pre-commit hooks, run `pre-commit autoupdate` in the terminal.
# Then update the versions in `conda-env/dev.yml`.
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-yaml

    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.14.10
      hooks:
          # Sort the imports
          - id: ruff
            name: ruff-sort-imports
            args: [--select, I, --fix]
          # Run the linter.
          - id: ruff
            args: [--fix]
          # Run the formatter.
          - id: ruff-format

    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v1.19.1
      hooks:
          - id: mypy
            args: ["--config=pyproject.toml"]
            additional_dependencies:
                [
                    dask,
                    "numpy>=2.0.0,<3.0.0",
                    pandas,
                    xarray>=2024.03.0,
                    types-python-dateutil,
                ]
